
.login_panel{
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 30px !important;
    padding: 20px;
}
.heading
{
    font-size: 30px;
   margin-top: 20px;
}
.heading1
{
    font-size: 25px;
   margin-top: 10px;
}
.heading_kannada{
    margin-top: 15px;
}
