
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-6 col-md-8 col-sm-10 mx-auto my-auto text-center">
          <h2 class="heading_kannada">ಪೋಷಕಾಂಶ ಪುನರ್ವಸತಿ ಕೇಂದ್ರ </h2>
          <h1 class="heading">NUTRITION REHABILITATION CENTRE</h1>
          <h2 class="heading1">DISTRICT HOSPITAL, TUMAKURU</h2>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8 my-auto login_panel">
            <h3>Login</h3>
          <form>
            <div class="form-group my-3">
              <label for="username">Username:</label>
              <input type="text" class="form-control" id="username" name="email" [(ngModel)]="email">
            </div>
            <div class="form-group my-3">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" name="password"[(ngModel)]="password">
            </div>
            <button type="submit" class="btn btn-primary my-3" (click)="login()">Submit</button>
            <div class="row">
                            <div class="col-md-6">
                                <a href="/register" style="text-decoration: none;">Need Account ? <span class="text-danger">Register</span></a>
                            </div>
                            <div class="col-md-6">
                                <a href="/forgotpassword" class="text-dark" style="text-decoration: none;"> Forgot Password ? </a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <a (click)="signInWithGoogle()" style="text-decoration: none;cursor: pointer;">
                                <div class="card shadow text-center">
                                    <div class="card-body">
                                        <img src="../../../assets/images/googlelogo.png" alt="" height="24px" width="24px"> Sign In with Google
                                    </div>
                                </div>
                            </a>
                        </div>
          </form>
        </div>
      </div>
    </div>

