<div class="container my-3">
    <table class="table table-striped" >
        <thead><tr>
            <th colspan="2"><div class="head d-flex justify-content-between"><button class="btn btn-outline-success ">Edit Details</button> Basic Details <button class="btn btn-outline-danger ">Print Details</button></div></th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">SHM_NO</th>
            <td>{{data.SHM_NO}}</td>
            
          </tr>
          <tr>
            <th scope="row">Child Name</th>
            <td>{{data.childName}}</td>
           
          </tr>
          <tr>
            <th scope="row">Age</th>
            <td>{{data.age}}</td>
          
          </tr>
          <tr>
            <th scope="row">Father Name</th>
           
            <td>{{data.fatherName}}</td>
          </tr>
          <tr>
            <th scope="row">Mother Name</th>
            <td colspan="2">{{data.motherName}}</td>
           
          </tr>
          <tr>
            <th scope="row">Date Of Admission</th>
            <td colspan="2">{{data.dateOfAdmission}}</td>
           
          </tr>
        </tbody>
      </table>
</div>
